html,body,h1,h2,h3,h4 {
  font-family: "Roboto", sans-serif;
}

h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 15px;
}

li {
  font-size: 16px;
}

.current {
  padding: 1px 4px;
}

h5 {
  color: rgb(51, 51, 51);
  display: block;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.6px;
  margin: 0px;
  text-transform: uppercase;
}

.city {
  color: rgb(51, 51, 51);
  display: block;
  font-family: Ubuntu, sans-serif;
  font-size: 13.6px;
  font-weight: 600;
  height: 19px;
  line-height: 19.4286px;
  margin: 0px;
}

.nav-tabs>li>a:active, .nav-tabs>li>a:hover {
  color: #fff;
  border-radius: 2px !important;
  background-color: #009688!important;
}

.nav-tabs>li>a:visited {
  color: #009688;
  border-radius: 2px !important;
  background-color: #fff!important;
}


.card {
  padding-bottom: 20px;
}

.w3-container {
  padding-bottom: 20px;
}

#div {
  -vendor-animation-duration: 20s;
  -vendor-animation-delay: 2s;
}
