<div class="w3-container w3-card-2 w3-white">
  <h2 class="w3-text-grey w3-padding-16">About</h2>
  <p>
    Hello!
  </p>
  <p>
    I am an undergraduate student at Earlham College pursuing dual bachelor degrees in
    Computer Science and Mathematics.
  </p>
  <p>
    Web development and data science are two of my passions. I am also very interested in learning more about how to manage a
    start-up and about the stages in venture capital investments. At this point in time, I am seeking internship
    opportunities in the tech industry. However, I hope to build my own start-up one day and
    put my product development and project management skills to the test.
  </p>

</div>
