<div class="w3-container w3-card-2 w3-white animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About</h2>
  <p>
    Turns out being a workaholic is not too noxious if you're working relentlessly on your passion. My main interest is Philosophy and
    learning to become a better critical thinker.
  </p>

  <p>My recent enlightening readings include (I'd love to have a conversation if any catch your curiosity):</p>
  <ul>
    <li>Competing Against Luck</li>
    <li>Start at the End</li>
    <li>Zero to One</li>
    <li>Startup Owner’s Manual</li>
    <li>Crossing the Chasm</li>
    <li>The Lean Playbook</li>
    <li>The Innovator's Solution</li>
    <li>Good to Great</li>
    <li>The Art of Logic (Eugenia Cheng)</li>
    <li>Critical Thinking (Richard W. Paul)</li>
    <li>Reinvent your Business Model</li>
    <li>Value Proposition Design</li>
    <li>Hooked</li>
    <li>What's your Digital Business Model?</li>
  </ul>

</div>
