<div class="w3-container w3-card-2 w3-white animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About</h2>
  <p>
    Turns out being a workaholic is not too noxious if and only if you're working relentlessly on your passion.
  </p>

  <p>
    I am passionate about recognizing talent and skill in other passionate individuals, then connecting with them
    by resonating at their frequency, thereby attaining the phenomenon of Resonance in order to achieve phenomenal results.
  </p>

</div>
