<div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>

  <div class="w3-container">
    <div class="col-md-3">
      <h5 style="text-align: center; margin:15px 0px;">Earlham College</h5>
      <p class="city">Richmond, IN</p>
    </div>
    <div class="col-md-9">
      <h4 class="w3-opacity"><b>B.A. Computer Science, Minor in Mathematics [GPA: 3.77/4.0]</b></h4>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 – 2018</h6>
      <p><b>Capstone Project</b>: <a href="https://bovojon.s3-us-west-2.amazonaws.com/Jon_Abdulloev_Capstone.pdf" target="_blank">A Dialogue-Driven Chatbot based on a Natural Language Interface to Database</a></p>
      <p class="city_volunteer">Relevant coursework:</p>
      <ul>
        <li>Parallel & Distributed Computing</li>
        <li>Artificial Intelligence & Machine Learning</li>
        <li>Natural Language Processing</li>
        <li>Functional Programming</li>
        <li>Software Engineering</li>
        <li>Database Systems</li>
        <li>Operating Systems</li>
        <li>Advanced Data Structures</li>
        <li>Principles of Computer Organization</li>
        <li>Networks and Networking</li>
        <li>Algorithms</li>
        <li>Discrete Mathematics</li>
        <li>Theory of Computation</li>
        <li>Advanced Programming</li>
        <li>Computational Modelling</li>
        <li>Linear Algebra</li>
        <li>Abstract Algebra</li>
        <li>Analysis</li>
        <li>Differential Equations</li>
        <li>Programming and Problem Solving</li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <div class="col-md-3">
      <h5 style="text-align: center; margin:15px 0px;">The International School of Penang (Uplands)</h5>
      <p class="city">Penang, Malaysia</p>
    </div>
    <div class="col-md-9">
      <h4 class="w3-opacity"><b>International Baccalaureate Diploma Programme (IBDP)</b></h4>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 – 2015</h6>
      <p class="city_volunteer">Courses:</p>
      <ul>
        <li>Mathematics (HL)</li>
        <li>Physics (HL)</li>
        <li>English (HL)</li>
        <li>Psychology (HL)</li>
        <li>Chemistry (SL)</li>
        <li>German (SL)</li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <div class="col-md-3">
      <h5 style="text-align: center; margin:15px 0px;">Sayfol International School</h5>
      <p class="city">Kuala Lumpur, Malaysia</p>
    </div>
    <div class="col-md-9">
      <h4 class="w3-opacity"><b>International General Certificate of Secondary Education (IGCSE)</b></h4>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2003 – 2013</h6>
      <p class="city_volunteer">Courses:</p>
      <ul>
        <li>Mathematics</li>
        <li>Further Pure Mathematics</li>
        <li>Physics</li>
        <li>Information Communications Technology</li>
        <li>English</li>
        <li>Accounting</li>
        <li>Economics</li>
        <li>Business Studies</li>
      </ul>
    </div>
  </div>
  <hr>

</div>
