<div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>

  <div class="w3-container">
    <div class="col-md-3">
      <h5 style="text-align: center; margin:15px 0px;">Earlham College</h5>
      <p class="city">Richmond, IN</p>
    </div>
    <div class="col-md-9">
      <h4 class="w3-opacity"><b>Bachelor’s Degree, Computer Science and Mathematics</b></h4>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 – 2018</h6>
      <p class="city_volunteer"></i>Relevant Computer Science and Math courses:</p>
      <ul>
        <li>Functional Programming (CS 330)</li>
        <li>Software Engineering (CS 345)</li>
        <li>Database Systems (CS 430)</li>
        <li>Operating Systems (CS 420)</li>
        <li>Advanced Data Structures (CS 335)</li>
        <li>Principles of Computer Organization (CS 320)</li>
        <li>Networks and Networking (CS410)</li>
        <li>Algorithms (CS310)</li>
        <li>Discrete Mathematics (MATH190)</li>
        <li>Theory of Computation (CS380)</li>
        <li>Advanced Programming (CS256)</li>
        <li>Computational Modelling (CS290)</li>
        <li>Linear Algebra (MATH310)</li>
        <li>Abstract Algebra (MATH420)</li>
        <li>Analysis (MATH430)</li>
        <li>Differential Equations (MATH320)</li>
        <li>Programming and Problem Solving (CS128)</li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <div class="col-md-3">
      <h5 style="text-align: center; margin:15px 0px;">The International School of Penang (Uplands)</h5>
      <p class="city">Penang, Malaysia</p>
    </div>
    <div class="col-md-9">
      <h4 class="w3-opacity"><b>International Baccalaureate Diploma Programme (IBDP)</b></h4>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 – 2015</h6>
      <p class="city_volunteer">Courses:</p>
      <ul>
        <li>Mathematics (HL)</li>
        <li>Physics (HL)</li>
        <li>English (HL)</li>
        <li>Psychology (HL)</li>
        <li>Chemistry (SL)</li>
        <li>German (SL)</li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <div class="col-md-3">
      <h5 style="text-align: center; margin:15px 0px;">Sayfol International School</h5>
      <p class="city">Kuala Lumpur, Malaysia</p>
    </div>
    <div class="col-md-9">
      <h4 class="w3-opacity"><b>International General Certificate of Secondary Education (IGCSE)</b></h4>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2003 – 2013</h6>
      <p class="city_volunteer">Courses:</p>
      <ul>
        <li>Mathematics</li>
        <li>Further Pure Mathematics</li>
        <li>Physics</li>
        <li>Information Communications Technology</li>
        <li>English</li>
        <li>Accounting</li>
        <li>Economics</li>
        <li>Business Studies</li>
      </ul>
    </div>
  </div>
  <hr>

</div>
