<div class="w3-container w3-card-2 w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-laptop fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Experience</h2>

  <div class="w3-container">
    <div class="col-md-3">
      <h5>Earlham College</h5>
      <p class="city">Richmond, IN</p>
    </div>
    <div class="col-md-9">
      <h5 class="w3-opacity"><b>Front End Developer</b></h5>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round current">Present</span></h6>
      <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>

    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
    <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
  </div>
</div>
