<div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-object-group fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Research</h2>

  <div class="well">
    <h4>This section contains a series of blog posts about 3 areas of research that I am most interested in:</h4>
    <ul>
      <li>Natural Language Interface to DataBases (NLIDB)</li>
      <li>Graph Theory and Social Networks</li>
      <li>AI and Search Engines</li>
    </ul>
  </div>

</div>

<div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">

  <div class="w3-container" style="margin-top:10px">
    <h4 class="w3-text-teal" style="margin-bottom:30px;">September 4, 2017</h4>

    <h4 class="w3-opacity"><b>Natural Language Interface to Databases (NLIDB)</b></h4>
    <p>I am curious to learn how AI can be used to democratize SQL so databases can be queried in natural language. Salesforce's WikiSQL, which generates structured queries from natural language using Reinforcement Learning, inspired me to learn more about NLIDB systems. I can see huge potential in such systems where one can query a database system using natural language - they can create accessability to a lot of people with no SQL backgrounds.</p>
    <hr>

    <h4 class="w3-opacity"><b>Graph Theory and Social Networks</b></h4>
    <p>I am interested to learn more about the graph connectivity of crowds and the factors that can improve the connectivity of a crowd.</p>
    <p>I found a great textbook to read on the Mathematics behind the graphs of social networks; it's called <strong style="font-weight:900px;">Networks, Crowds, and Markets: Reasoning About a Highly Connected World</strong> By David Easley and Jon Kleinberg. The textbook studies properties of networks in many aspects of life including voting systems, auctions, stock markets, epidemics, etc. It also has a very good section titled <i>Graph Theory and Social Networks</i> which discusses the Mathematical properties of graphs in social networks. This book is very useful in understanding the graphs behind social networks from a Mathematical perspective and building the foundational knowledge to conduct further research on the factors that affect the connectivity of a dynamic graph.</p>
    <hr>

    <h4 class="w3-opacity"><b>AI and Search Engines</b></h4>
    <p>I was inspired by Google’s RankBrain, which is a Machine Learning system to embed vast amounts of natural language into mathematical vectors that the computer can understand. The core idea behind this is related to Word2vec, which converts words and phrases into vectors and uses the ’embeddings’ in deep learning. Below are some new concepts that I learnt while reading online:</p>
    <ul>
      <li>Thought Vectors</li>
      <li>Word2vec</li>
      <li>Hummingbird search algorithm</li>
      <li>Association rule learning</li>
    </ul>
    <hr>

  </div>

</div>
